<!DOCTYPE html>
<html>
<body>
    <div>
        <h1>Update Warehouse User {{ warehouse_users.firstname }} {{ warehouse_users.lastname }}</h1>
        <form action="updaterecord/{{ warehouse_users.id }}" method="post">
            {% csrf_token %}
            First Name:<br>
            <input name="first" value="{{ warehouse_users.firstname }}">
            <br><br>
            Last Name:<br>
            <input name="last" value="{{ warehouse_users.lastname }}">
            <br><br>
            Password:<br>
            <input name="password" value="{{ warehouse_users.password }}">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>